* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    width: 100vw;
    height: 100vh;
}

#root {
    display: flex;
    width: 100%;
    height: 100%;
}

#toolbar {
    width: 30%;
    padding: 1em;
    border-right: 3px solid gray;
    overflow-y: scroll;
}

#title {
    text-align: center;
    margin-bottom: .5em;
}

.menu-title {
    font-weight: 700;
    margin: .5en 0;
}

.btn-container {
    display: flex;
    gap: .5em;
    margin: .5em 0;
}

.active, .btn:hover {
    background-color: #999;
    color: white;
}

button {
    padding: .75em 1em;
    border: 1px solid;
    border-radius: 8px;
    background-color: #ddd;
    cursor: pointer;
}

input {
    padding: .5em 1em;
}

.transform-input-container {
    display: grid;
    align-items: center;
    margin: .5em 0;
}

.color-input-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

#poly-input {
    margin: 1.25em 0;
    display: none;
}

#reset-btn {
    color: whitesmoke;
    background-color: red;
    padding: 1em 3em;
    margin-top: 2em;
    transition: all ease-in-out .25s;
}

#reset-btn:hover {
    color: whitesmoke;
    background-color: maroon;
}

#glCanvas {
    flex: 4;
}